div{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border: 2px solid darkblue;
    /* transition: all;
    transition-duration: 4s;
    transition-timing-function: steps(5); */
    transition: all 2s ease-in-out 1s;
}
div:hover{
    background-color:red ;
    color: cornsilk;
    font-size: large;
    transform : rotate(360deg);
}

div:active{
    background-color: deeppink;
}